body{
    background-color: hsl(187, 69%, 49%);
}

input.termino {
    font-family: 'Oswald', sans-serif; 
    width: 1/6;
    height: 1/2;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: hwb(30 92% 4%);

}


.resultados {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
    width: 200px;
    height: 150px;
    margin-left: 100px;
    
    
}

.cards {
    display: grid;
    width: 200px;
    height: 160px;
    gap: 5px;
}

h1{
    color: azure;
    align-self: start;
    text-align: center;
}
input{
    width: 1/5;
    height: 1/2;
    font-size: 1.5rem;
    margin: auto;
    gap: 20px;
}

.contenedor{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    border-color: rgb(230, 64, 64);
  }





    

